<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mystie the Fox Free.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Mystie the Fox Paid.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>304A79FE19A8CA770004B2EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>304A7A2019A8CA780004B2EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>304A7A3519A8CBF00004B2EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>304A7B2F19A8CBF30004B2EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30BEC848197B1E5F0069093E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30BEC873197B1E600069093E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
